#npw span {
  margin-bottom: 0 !important;
  font-size: var(--section-header-text-size);
  min-width: fit-content;
}

#npw input[type=number] {
  padding: 4px 12px !important;
}

#npw button {
  min-width: 30px;
  max-width: 30px;
  min-height: fit-content;
  font-weight: var(--button-large-text-weight);
  border-radius: 0.5em;
  border-width: 1px;
}

#npw .gradio-row {
  align-items: center;
  gap: 0.5em;
}

#npw .gradio-checkbox {
  margin: 0;
}

#npw .form {
  min-width: unset !important;
}

#npw-slider {
  padding: 0 10px !important;
}
